<!DOCTYPE html>
<html lang="en" class="govuk-template">

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:inline="text">
  <title th:text="${title}">Pay a court fine</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title th:text="${title}">Court Fine</title>

  <!-- GOV.UK Design System CSS -->
  <meta name="theme-color" content="#0b0c0c">
  <link rel="icon" sizes="48x48" href="/static/favicon.ico">
  <link rel="icon" sizes="any" href="/static/favicon.svg" type="image/svg+xml">
  <link rel="mask-icon" href="/static/govuk-icon-mask.svg" color="#0b0c0c">
  <link rel="apple-touch-icon" href="/static/govuk-icon-180.png">
  <link rel="stylesheet" href="https://assets.publishing.service.gov.uk/government-frontend/govuk-frontend.min.css">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <!-- Custom Styles -->
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body class="govuk-template__body">
<script>
  document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
</script>
<a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

<div th:replace="fragments/header :: header"></div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">

      <div style="display: flex; justify-content: flex-end;">
          <a th:href="@{/paycourtfine/w}" class="govuk-link">Cymraeg</a>
      </div>
      <hr style="width:100%;text-align:left;margin-left:0">

      <h1 class="govuk-heading-l"><strong>Fine Reference:</strong> <span th:text="${fine.referenceCode} ?: 'Amount you owe:'">Amount you owe</span></h1>

    <p class="govuk-body"><strong>Outstanding Payment: £</strong> <span th:text="${#numbers.formatDecimal(fine.amountDue, 1, 2)}">Amount left</span></p>
    <p class="govuk-body"><strong>Payment Deadline: </strong> <span th:text="${fine.paymentDeadline}">Amount left</span></p>

    <hr style="width:100%;text-align:left;margin-left:0">

    <!-- Create Student Form -->
    <form th:action="@{/paycourtfine/paymentscreen/{id}(id=${fine.referenceCode})}" th:object="${paymentdto}" method="post" class="mb-4">

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    Payment details
  </legend>
      <div class="govuk-form-group">
        <label class="govuk-label" for="amounttopay">Amount to Pay (£'s):</label>
        <input type="number" class="govuk-input govuk-input--width-10" th:if="${amountError}" style="color: red;" th:field="*{amountToPay}" required>
        <input type="number" class="govuk-input govuk-input--width-10" th:unless="${amountError}"  th:field="*{amountToPay}" required>
        <p th:if="${amountError}" class="govuk-error-message" th:text="${amountError}"></p>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="cardnumber">Card Number:</label>
        <input type="text" class="govuk-input govuk-input--width-10" th:if="${creditError}" style="color: red;" th:field="*{cardNumber}" required>
        <input type="text" class="govuk-input govuk-input--width-10" th:unless="${creditError}" th:field="*{cardNumber}" required>
        <p th:if="${creditError}" class="govuk-error-message" th:text="${creditError}"></p>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="cvc">CVC (security) Number:</label>
        <input type="number" class="govuk-input govuk-input--width-10" th:if="${cvcError}" style="color: red;" th:field="*{cvcNumber}" required>
        <input type="number" class="govuk-input govuk-input--width-10" th:unless="${cvcError}" th:field="*{cvcNumber}" required>
        <p th:if="${cvcError}" class="govuk-error-message" th:text="${cvcError}"></p>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="expirydate">Card Expiry Date (MM/YY):</label>
        <input type="text" class="govuk-input govuk-input--width-10" id="expirydate" name="expirydate"
               th:field="*{expiryDate}" required
               pattern="(0[1-9]|1[0-2])\/\d{2}"
               maxlength="5"
               placeholder="MM/YY"
               inputmode="numeric">
        <p th:if="${expiryError}" class="govuk-error-message" th:text="${expiryError}"></p>
      </div>
      <button type="continue" class="govuk-button">
        Make Payment
      </button>
</fieldset>
    </form>
  </main>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script type="module" src="/javascripts/govuk-frontend.min.js"></script>
<script type="module">
  import {
    initAll
  } from '/javascripts/govuk-frontend.min.js'
  initAll()
</script>
<script>
    document.getElementById("expirydate").addEventListener("input", function (event) {
        let input = event.target.value.replace(/\D/g, ""); // Remove non-numeric characters
        if (input.length > 2) {
            input = input.slice(0, 2) + '/' + input.slice(2, 4);
        }
        event.target.value = input;
    });
</script>
</body>

</html>